{* This is the welcome page, you can delete it *}

{block content}


<div id="content">
    <div class="center-block">
        <div id="banner">
            <h1 n:block=title>Nette Ajax example!</h1>
        </div>
        {snippet click-counter}
            <div class="counter">{$clickCounter}</div>
            <div class="counter-message">{$counterMessage}</div>
        {/snippet}
        <a class="ajax btn" n:href="clickMe!">Click me!</a>
    </div>

</div>